.frame {
	display: flex;
	margin-top: 10px;
	background-image: url('../images/whiteboard1.jpg');
	background-size: 100% 100%;
	min-height: 850px;
	padding: 20px;
	-webkit-box-shadow: 3px 1px 68px 4px rgba(59,59,59,1);
	-moz-box-shadow: 3px 1px 68px 4px rgba(59,59,59,1);
	box-shadow: 3px 1px 68px 4px rgba(59,59,59,1);
}
.menu {
	opacity:0;
	display: inline-block; 
	background-color: transparent;
}

fp-postit:hover .menu{
	opacity: 1; 
}

.glyphicon{
	display: inline-block; 	
}
.postit {
	padding: 10px;
	padding-top: 0px; 
	margin-bottom: 15px;
	background-color: #FFFE78;
	
	/* With help from: http://mentormate.com/blog/css-postit-note/*/
	font-size:18px;      
	border:1px solid #E8E8E8;  
	border-bottom-right-radius: 60px 5px; 
	background: rgb(255,255,136); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(255,255,136,1) 77%, rgba(255,255,214,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(77%,rgba(255,255,136,1)), color-stop(100%,rgba(255,255,214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* IE10+ */
	background: linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88',GradientType=0 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
}

.postit-title{
	font-size: 25px;
	font-family:"Gloria Hallelujah", Arial, Helvetica, sans-serif;
}

.category{
	padding: 20px;
	padding-top: 0px;
	font-family:"Gloria Hallelujah", Arial, Helvetica, sans-serif;
	font-size: 30px;
}

input {
	color: #000000;
	outline: 0;
	padding-left: 10px;
	border: none;
	background-color: transparent;
}
textarea {
	color: #000000;
	width: 100%;
	outline: 0;
	resize:none;
	padding-left: 10px;
	border: none;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
}

fp-whiteboard {
	display: flex;
	margin-left: auto;
	margin-right: 320px;
}

fp-whiteboard>div {
	flex: 1;
}
.toolbar {
	position: absolute;
	bottom: 20px;
	right: 10px;
	height: 400px;
	width: 320px;
	z-index: 0;
}
.hints {
	width: 100%;
}
.tools {
	width: 190px;
	position: absolute;
	top: 76px;
	left: 71px;
}
.postit-click-area {
	position: absolute;
	left: 70px;
	height: 300px;
	width: 150px;
	top:80px;
	display: block;
	/*background: red;*/
}
.category-click-area {
	position: absolute;
	left: 220px;
	top: 80px;
	height: 300px;
	width: 60px;
	/*background: blue;*/
	display: block;
}
