<div class="container">
  <div class="page-header">
    <h1>Whiteboards</h1>
    <p>A colaboration tool by professionals for professionals.</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <!-- <label name="search">Search</label> -->
      <div class="input-group input-group-lg">
        <input type="text" name="search" class="form-control" ng-model="searchText" placeholder="Search">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      </div>
    </div>
    <div class="col-md-4">
      <!-- <label name="create">Create</label> -->
      <form ng-submit="createWhiteboard(newName)">
        <div class="input-group input-group-lg">
          <input fp-select-all-on-focus type="text" name="create" class="form-control" ng-model="newName" placeholder="Create">
          <span class="input-group-addon submitbutton-container"><button type="submit" class="submitbutton"><span class="glyphicon glyphicon-plus"></span></button></span>
        </div>
      </form>
    </div>
  </div>
  <ul class="list-group col-md-8">
    <li class="list-group-item" ng-repeat="whiteboard in whiteboards | filter:searchText" ng-click="goToWhiteboard(whiteboard)">{{ whiteboard.name }}</li>
  </ul>

</div>
