<div class="toolbar">
  <img class="hints" src="images/hints.png"/>
  <img class="tools-img" src="images/toolbar5002.png"/>
  <div class="toolbar-postit" ng-class="{bigPostit: showBigPostit}">
    <img class="toolbar-postit"  src="images/postit.png"/>
    <form ng-submit="savePostit()" class="tools">
      <input tabindex="1" ng-model="newPostit.title" class="input-title postit-title" placeholder="Title"/>
      <textarea tabindex="1" ng-model="newPostit.description" rows="3" placeholder="Description"></textarea>
      <select tabindex="1" name="color" class="menu" ng-model="newPostit.color" ng-options="color for color in colors">
      </select>
      <select tabindex="1" name="category" ng-required class="menu" ng-model="newPostit.category" ng-class="{categorySelectionError: showCategorySelectionError}" ng-options="category.name for category in categories">
        <option value="">-- category --</option>
      </select>
      <br>
      <span class="button-bar">
        <button tabindex="2" class="button" type="button" ng-click="resetForm()"><span class="glyphicon glyphicon-remove"></span></button>
        <button tabindex="1" class="button" type="submit"><span class="glyphicon glyphicon-ok"></span></button>
      </span>
    </form>
  </div>

  <span ng-click="showBigPostit = !showBigPostit" ng-hide="showBigPostit" class="postit-click-area"></span>
  <span ng-click="test('newCategory')" class="category-click-area"></span>
</div>
<style>
.toolbar-postit {
  position: absolute;
  bottom: 125px;
  right: 107px;
  width: 140px;
  height: 140px;
  transition: all 330ms;
}
.toolbar-postit img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*background: red;*/
}
.tools {
  position: relative;
  top: 0;
  left: 0;
  padding: 15px 20px 20px 15px;
  transition: opacity 200ms cubic-bezier(0,.99,.09,.99);
  opacity: 0;
  width: 100%;
  height: 100%;
}
.bigPostit {
  width: 300px;
  height: 300px;
}
.bigPostit .tools {
  opacity: 1;
  transition: opacity 330ms cubic-bezier(1,.01,1,.43);
}
.tools *{
  opacity: 1;
  max-width: 100%;
}
.tools .menu {
  font-family:"Gloria Hallelujah", Arial, Helvetica, sans-serif;
  bottom: 0;
  max-width: 160px;
}
.tools .button-bar {
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 20px;
  margin-left: -15px;
}
.tools .button {
  font-size: 30px;
  position: relative;
  background: transparent;
  border: none;
  padding: 5px 30px 5px 30px;
}
.tools .categorySelectionError {
  border: 1px solid red;
}
</style>
